<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="AttendanceSystemConnString" connectionString="Data Source=.;Initial Catalog=SDBISAS;uid=sa;pwd=12358;" />
    <add name="myConn" connectionString="Data Source=192.168.53.110;Initial Catalog=15softDB02;Persist Security Info=True;User ID=15soft02;Password=2245"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <sessionState mode="InProc"/>
    <!--用户最大上传文件为40M，超时时间最大60秒，最大并发100-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="40960" executionTimeout="60" appRequestQueueLimit="100"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
